.tile_count {
  min-height: 680px;
}
#error_explanation li, h2{
  color:red;
}
.errspan {
  color: grey;
  float: left;
  position: relative;
  right: -10px;
  top: 35px;
}
.feed-back{
  padding-left: 25px;
}
.calender-heading {
  padding-top:40px;
}
.calender {
  padding-top:40px;
    /*width:700px !important;
    height:600px !important;*/
}